.app-download {
    margin: auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}

.app-download-images {
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}

.app-download-images img {
    width: max(30vw,120px);
    min-width: 180px;
    transition: 0.6s;
    cursor: pointer;
}

.app-download-images img:hover{
    transform: scale(1.05);
}  